# History files
.Rhistory
.Rapp.history

# DS_Store files
.DS_Store

# Session Data files
.RData
.RDataTmp*
*.rdata

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
*.Rproj

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment Variables
.Renviron

# Data
*.rds
*.csv
*.xlsx

# htmls
*.html

# Folders
*archived/*
*images/*
frames/*
data/*
shapefiles/*
application/outcome_results/*

# Other files
deletelater.R
*nj.R
application/README_for_dataverse.md
